#lyftHeader {
  background-color: white !important;
}


.lyftLogo {
  display: block;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
  margin: auto;
}


#lyftPageContainer {
  background: #28BC9C !important;
  color: white !important;
}

#timeTitle {
  margin-bottom: 5rem !important;
}

#eventMiddleTitle {
  margin-bottom: 5rem !important;
  color: white !important;
}

#flightChartTitle {
  text-align: center;
}

#dashboardStudentContainer {
  width: 100%;
  height: 30rem;
  margin: auto !important;
  margin-top: 10rem !important;
  font-size: 1.5rem !important;
}

#studentChart {
  width: 15rem;
  height: 15rem;
  margin-top: 10rem !important;
  font-size: 1.5rem !important;
}

#eventParagraph {
  font-size: 1.5rem;
  padding: 2rem;
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: 2rem;
}

#anotherGreen {
  background: #28BC9C !important;
  color: white !important;
}

#boldInfo {
  font-weight: bolder !important;
}
