#uberHeader {
  background-color: white !important;
}

.uberLogo {
  display: block;
  max-width:250px;
  max-height:105px;
  width: auto;
  height: auto;
  margin: auto;
  color: white !important;
}

#uberTitle {
  font-family: 'Raleway', sans-serif;
  color: #09091a;
}
